<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Butter&#45;Bun Homepage</title>
<link rel="stylesheet" th:href="@{/css/styles.css}"
	href="css/styles.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" th:href="@{/css/layout.css}"
	href="css/layout.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<img th:src="@{/images/butter-bun-logo.png}"
					src="./images/butter-bun-logo.png" alt="Image failed to load"
					height="50px" width="150px" />
			</div>
			<div id="header-inf" class="hidden">
				<a href="customersupport.html" id="custsupportlink">CONTACT
					CUSTOMER SUPPORT</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="content-wrapper">
		<div id="main-wrapper">
			<div class="login">
				<h2>Sign in to your account</h2>
				<form th:action="@{/j_spring_security_check}" method="post">
					<div class="login-label">
						<span>User ID&#58;</span> <input type="text" value=""
							name="j_username" class="login-inp" />
					</div>
					<div class="login-label">
						<span>Password&#58;</span> <input type="password"
							name="j_password" class="login-inp" />
					</div>
					<div>
						<ul class="nopadding">
							<li><a href="#" id="forgotpwd">forgot your password?</a> <input
								type="submit" value="SIGN IN" class="button" id="loginbutton" /></li>
							<li id="newuserinf"><span>New User&#63; Sign Up
									Now&#33;</span> <input type="button" value="SIGN UP" class="button"
								id="signupbutton" /></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="col-left">
				<div class="col-content">
					<p>
						<b>Welcome to Butter-Bun Intelligent Scheduling Solution</b>. We
						place a premium on customer comfort and care and that means
						ensuring you keep your appointments!
					</p>
					<p>
						With this tool, you may <b>make or change appointments</b>, <b>review
							schedules</b>, and <b>receive E-Mail &amp; SMS notifications</b> for
						your upcoming appointments, all from the comfort of your home or
						on the go.
					</p>
				</div>
			</div>
			<div class="col-mid">
				<div class="col-head bold">Join Us</div>
				<div class="col-content">				
				<p>Impressed with Butter-Bun’s capabilities?</p>
				<p><b>Enhance your business</b> with <b>automated</b> scheduling and notification services by dropping us a line at <a href="mailto:sales@apris-solutions.com">sales@apris-solutions.com</a></p>
				</div>
			</div>
			<div class="col-right">
				<div class="col-head bold">Customer Support</div>
				<div class="col-content">
				<p>Facing an issue or have feedback?</p>
				<p>Drop us a line at <a href="mailto:support@butter-bun.com">support@butter-bun.com</a> and we will get back to you <b>as soon as possible</b>.</p>
				</div>
			</div>
		</div>
		<div id="sidebar-wrapper">
			<div id="sidebar" class="bold">
				<div id="ad-banner">ADVERTISING</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="footer-wrapper">
		<div id="footer">Apris Solutions &#169; 2013 All Rights Reserved
		</div>
	</div>
	<script type="text/javascript" src="../../js/lib/jquery-1.9.1.min.js"
		th:src="@{/js/lib/jquery-1.9.1.min.js}"></script>
	<script type="text/javascript" src="../../js/index.js"
		th:src="@{/js/index.js}"></script>
	<div style="display: none;">
		<a id="registration-link" href="registration/index"
			th:href="@{/registration/index}"></a>
	</div>
</body>
</html>
