<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Butter&#45;Bun Reset Password</title>
<link rel="stylesheet" th:href="@{/css/validationEngine.jquery.css}"
	href="css/validationEngine.jquery.css" type="text/css" media="screen"
	charset="utf-8" />
<link rel="stylesheet" th:href="@{/css/styles.css}"
	href="css/styles.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" th:href="@{/css/layout.css}"
	href="css/layout.css" type="text/css" media="screen" charset="utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="./images/fav-icon.ico" th:href="@{/images/fav-icon.ico}" />
</head>
<body>
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<img th:src="@{/images/butter-bun-logo.png}"
					src="./images/butter-bun-logo.png" alt="Image failed to load"
					height="50px" width="150px" />
				<span>Malaysia's Premier Automated Scheduler</span>
			</div>
			<div id="header-inf" class="hidden">
				<a href="customersupport.html" id="custsupportlink">CONTACT
					CUSTOMER SUPPORT</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="content-wrapper">
		<div id="main-wrapper">
			<div class="changepwd">
				<h2>Reset Password</h2>
				<div id='error' style="visibility: visible;">
					<span style="color: red;" id='errorMsg'>Invalid url..</span>
				</div>
			</div>
		</div>
		<div id="sidebar-wrapper">
			<div id="sidebar" class="bold">
				<div class="social-bg">
				<h3>Follow Us:</h3>
				<ul>
				<li><a href="http://www.facebook.com/pages/Butter-Bun/364305490347464" class="sprite-fb"><span>On Facebook</span></a></li>
				<li><a href="http://plus.google.com/u/0/100435016393666376233/about" class="sprite-gplus"><span>On Google Plus</span></a></li>
				<li><a href="http://www.linkedin.com/company/apris-solutions-sdn-bhd-/butter-bun-1704912/product?trk=biz_product" class="sprite-linkedin"><span>On LinkedIn</span></a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="footer-wrapper">
		<div id="footer">Apris Solutions &#169; 2013 All Rights Reserved
		</div>
	</div>
	<script type="text/javascript" src="../../js/lib/jquery-1.9.1.min.js"
		th:src="@{/js/lib/jquery-1.9.1.min.js}"></script>
	<script type="text/javascript" src="../../js/reset_password.js"
		th:src="@{/js/reset_password.js}"></script>
	<div style="display: none;">
		<a id="registration-link" href="registration/index"
			th:href="@{/registration/index}"></a>
	</div>
</body>
</html>
