<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My Appointments</title>
<link rel="stylesheet" th:href="@{/css/jquery-ui-timepicker-addon.css}"
	href="css/jquery-ui-timepicker-addon.css" type="text/css"
	media="screen" charset="utf-8" />
<link rel="stylesheet"
	th:href="@{/css/smoothness/jquery-ui-1.10.2.custom.min.css}"
	href="css/smoothness/jquery-ui-1.10.2.custom.min.css" type="text/css"
	media="screen" charset="utf-8" />
<link rel="stylesheet" th:href="@{/css/styles.css}"
	href="css/styles.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" th:href="@{/css/layout.css}"
	href="css/layout.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" th:href="@{/css/chosen.css}"
	href="css/chosen.css" type="text/css" media="screen" charset="utf-8" />
<style>
.ui-widget {
	font-size: x-small;
}
</style>
</head>
<body>
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<img th:src="@{/images/butter-bun-logo.png}"
					src="./images/butter-bun-logo.png" alt="Image failed to load"
					height="60px" width="150px" />
			</div>
			<div id="header-inf">
				<a href="feedback" id="custsupportlink">CONTACT
					CUSTOMER SUPPORT</a>
			</div>
			<div class="account-inf">
				<ul>
					<li><a href="../logout" id="signout">SIGN OUT</a></li>
					<li class="editprofile">
						<div id="editprofile">
							Hi&#44; <span id="username" th:text="${#authentication.name}">Inban</span><span
								class="drop-arrow-white"></span> &#124;
							<div class="drop-menu">
								<ul class="menu-lvl-1">
									<li><a href="editprofile">Edit Profile</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="content-wrapper">
		<div id="subcontent-wrapper-ext-left">
			<div id="subcontent-ext-left-head">
				<h2>My Appointments</h2>
			</div>
			<div id="subcontent-ext-left">
				<div id="searchfilters">
					<form action="search-appointments" th:object="${search}"
						th:action="@{search-appointments}" method="post" id="searchform">
						<h3 style="width: 380px">
							Please select filter criteria and click <input type="button"
								value="SEARCH" class="button" id="querybutton" />
						</h3>
						<ul id="query-items">
							<li><span>Staff</span> <select id="search_staffs"
								th:field="*{staffId}" style="width: 137px;" /></li>
							<li><span>Venue</span> <select id="search_locations"
								th:field="*{locationId}" style="width: 137px;"></select></li>
							<li><span>Service</span> <select id="search_services" style="width: 137px;"
								th:field="*{serviceId}"></select></li>
							<li><span>Date</span> <input type="text"
								id="search_appointmentdate" th:field="*{searchDate}"
								style="width: 130px;" /></li>
							<li><span>&nbsp;</span> <input type="hidden"
								id="search_appointmenttime" th:field="*{searchTime}" /></li>
						</ul>
					</form>
				</div>
				<div id="patron-controls">
					<ul class="nomargin nopadding">
						<li><a href="#"
							onclick="document.getElementById('createappt-box').style.display='block'; document.getElementById('bg').style.display='block';">Create
								Appointment</a></li>
						<li id="addorg-inf"><a href="#"
							onclick="document.getElementById('addorg-box').style.display='block'; document.getElementById('bg').style.display='block';">Add
								Organization</a>
							<div id="addorg-inf-msg">
								<h4 class="nomargin">Add other organizations within the
									Butter-Bun affiliated scheduling network you belong to for a
									single view of all your appointments&#33;</h4>
							</div></li>
					</ul>
				</div>
				<div id="result-list">
					<div id="result-split" class="subcontent-split"></div>
					<table id="result-table">
						<thead>
							<tr>
								<th class="th1">Staff</th>
								<th class="th2">Patron</th>
								<th class="th3">Venue</th>
								<th class="th4">Org&#46;</th>
								<th class="th5">Service</th>
								<th class="th6">Date</th>
								<th class="th7">Time</th>
								<th class="th8">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="8" style="padding: 0">
									<div class="innertable2">
										<table class="result-table-rows">
											<tbody>
												<tr th:each="appointment : ${appointments}">
													<td class="td1-ext"
														th:text="${appointment.falconStaff.name}"></td>
													<td class="td4" th:text="${appointment.falconLocation.name}"></td>
													<td class="td2-ext"><a href="#"
														th:href="@{patron_group_list(id=${appointment.id})}"
														th:if="${#lists.size(appointment.falconAppointmentPatrons) > 1}">Patron
															Group</a>
														<div
															th:unless="${#lists.size(appointment.falconAppointmentPatrons) > 1}">
															<span
																th:each="patron : ${appointment.falconAppointmentPatrons}">
																<span
																th:text="${patron.falconPatron.falconUserByPatron.name}"></span>
															</span>
														</div></td>
													<td class="td3-ext" th:text="${appointment.falconStaff.falconUser.name}"></td>
													<td class="td5" th:text="${appointment.falconService.name}"></td>
													<td class="td6" th:text="${#dates.format(appointment.appointmentDate, 'dd/MM/yyyy')}"></td>
													<td class="td7" th:text="${#dates.format(appointment.appointmentDate, 'hh:mm aaa')}"></td>
													<td class="td8">
														<ul class="schedule-action">
															<li><a class="remove" href="#"
																th:id="${appointment.id}">Remove</a></li>
														</ul>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="sidebar-wrapper">
			<div id="sidebar" class="bold">
				<div id="ad-banner">ADVERTISING</div>
			</div>
		</div>
		<div id="removeappt-box" class="absoluteleftcenter hidden">
			<a class="close-box"
				onclick="document.getElementById('removeappt-box').style.display='none'; document.getElementById('bg').style.display='none';"><img
				class="whitecross" src="./images/whitecross.png"
				th:src="@{/images/whitecross.png}" alt="Image failed to load" /><img
				class="blackcross" src="./images/blackcross.png"
				th:src="@{/images/blackcross.png}" alt="Image failed to load" /></a>
			<div id="removeappt" class="relativeleftcenter">
				<h2>Confirm delete this appointment?</h2>
				<ul id="getappointment" class="nopadding">
					<li><span>Date&#58;</span>
						<div id="deleteDate"></div></li>
					<li><span>Time&#58;</span>
						<div id="deleteTime"></div></li>
					<li><span>Venue&#58;</span>
						<div id="deleteLocation"></div></li>
					<li><span>Staff&#58;</span>
						<div id="deleteStaff"></div></li>
					<li><span>Patron&#58;</span>
						<div id="deletePatrons" style="display: inline-block;"></div></li>
					<li id="deleteId" style="visibility: hidden;"></li>
					<li><input class="button" type="button" value="YES"
						id="delete" /> <input class="button" type="button" value="NO"
						onclick="document.getElementById('removeappt-box').style.display='none'; document.getElementById('bg').style.display='none';" />
					</li>
				</ul>
			</div>
		</div>
		<div id="addorg-box" class="absoluteleftcenter hidden">
			<a class="close-box"
				onclick="document.getElementById('addorg-box').style.display='none'; document.getElementById('bg').style.display='none';">
				<img th:src="@{/images/whitecross.png}"
				class="whitecross" src="./images/whitecross.png"
				alt="Image failed to load" /><img class="blackcross"
				src="./images/blackcross.png" th:src="@{/images/blackcross.png}" alt="Image failed to load" /></a>
			<form action="#" th:object="${patron}" th:action="@{create-patron}" method="post" id="organizationform"> 
			<div id="addorg" class="relativeleftcenter">
				<h2>Add an Organization</h2>
				<ul id="addorgfilter" class="nopadding">
					<li>
						<span>Select Org&#46;</span>
						<select id="organization" th:field="*{falconUserByAdmin.username}" style="width: 137px;"/>
					</li>
					<li>
						<input type="hidden" th:field="*{falconUserByPatron.username}"  />
						<input class="button" type="submit" value="SUBMIT" />
					</li>
				</ul>
			</div>
			</form>
		</div>
		<div id="createappt-box" class="absoluteleftcenter hidden">
			<a class="close-box"
				onclick="document.getElementById('createappt-box').style.display='none'; document.getElementById('bg').style.display='none';">
				<img class="whitecross" th:src="@{/images/whitecross.png}"
				src="./images/whitecross.png" alt="Image failed to load" /> <img
				th:src="@{/images/blackcross.png}" class="blackcross"
				src="./images/blackcross.png" alt="Image failed to load" />
			</a>
			<form action="#" th:object="${appointment}" th:action="@{create-appointment}" method="post" id="appointmentform"> 
			<div id="createappt" class="relativeleftcenter">
				<h2>Schedule Appointment</h2>
				<ul id="createapptfilter" class="nopadding">
					<li>
						<span>Select Date</span>
						<input type="text" id="appointmentdate" />
					</li>
					<li>
						<span>Start Time</span>
						<input type="text" id="appointmenttime" />
					</li>
					<li>
						<span>End Time</span>
						<input type="text" id="appointmenttimeend" />
					</li>
					<li>
						<span>Select Staff</span>
						<select id="staffs" th:field="*{falconStaff.id}" style="width: 137px;"></select>
					</li>
					<li>
						<span>Select Service</span>
						<select id="services" th:field="*{falconService.id}" style="width: 137px;"></select>
					</li>
					<li>
						<span>Select Venue</span>
						<select id="locations" th:field="*{falconLocation.id}" style="width: 137px;"></select>
						<input id="patrons" th:field="*{falconAppointmentPatrons}" type="hidden"></input>
					</li>
					<li><input class="button" type="submit" value="SUBMIT" id="submit" /></li>
				</ul>
				<input type="hidden" id='appointmentdatetime'  th:field="*{appointmentDate}"></input>
				<input type="hidden" id='appointmentdatetimeend'  th:field="*{appointmentDateEnd}"></input>
			</div>
			</form>
		</div>
		<div id="bg"></div>
	</div>
	<div class="clear"></div>
	<div id="footer-wrapper">
		<div id="footer">Apris Solutions &#169; 2013 All Rights Reserved
		</div>
	</div>
	<div id="dialog">
		<div>Please pick a time</div>
		<table>
			<tr>
				<td><span class="ui-icon ui-icon-circle-triangle-n" id="button-up-hh"/></td>
				<td><span class="ui-icon ui-icon-circle-triangle-n" id="button-up-mm"/></td>
				<td><span class="ui-icon ui-icon-circle-triangle-n" id="button-up-ampm"/></td>
			</tr>
			<tr>
				<td><input id="hh" type="text" size="2" /></td>
				<td><input id="mm" type="text" size="2" /></td>
				<td><input id="ampm" type="text" size="2" /></td>
			</tr>
			<tr>
				<td><span class="ui-icon ui-icon-circle-triangle-s" id="button-down-hh"/></td>
				<td><span class="ui-icon ui-icon-circle-triangle-s" id="button-down-mm"/></td>
				<td><span class="ui-icon ui-icon-circle-triangle-s" id="button-down-ampm"/></td>
			</tr>
		</table>
		<div style="display: none;" id="source-id"></div>
	</div>
	<script type="text/javascript" th:src="@{/js/lib/jquery-1.9.1.min.js}"
		src="js/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript"
		th:src="@{/js/lib/jquery-ui-1.10.2.custom.min.js}"
		src="js/lib/jquery-ui-1.10.2.custom.min.js"></script>
	<script type="text/javascript" th:src="@{/js/patron/patron_landing.js}"
		src="js/patron/patron_landing.js"></script>
</body>
</html>