/* Core Styles 
-------------------------------------------------
*/
body                                             {color: #000000; font: 14px/1.6 "Century Gothic"; margin: auto; width: 930px;}
ul, ol                                           {list-style:none;}

.bold                                            {font-weight:bold;}
.hidden                                          {display:none;}
.nomargin                                        {margin: 0;}
.nopadding                                       {padding: 0;}
.button                                          {color: #FFFFFF; background-color: #00A99D; font-weight: bold; font-size: 16px; height: 35px; width: 100px;}

.col-content                                     {font-size: 12px;}
.notes                                           {font-size: 10px; word-wrap: normal;}

.absoluteleftcenter                              {position:absolute; left:50%;}
.relativeleftcenter                              {position:relative; left:-50%;}

/* Text Styles 
-------------------------------------------------
*/
h1,h2,h3,h4,h5,h6                                {font-weight: bold;}
h2                                               {font-size: 20px;}
h3                                               {font-size: 16px;}
h4                                               {font-size: 12px;}

a:link                                           {color: #0000FF; text-decoration: none;}
a:visited                                        {color: #819FF7;}
a:hover                                          {color: #0000FF; text-decoration: underline;}
a:active                                         {color: #0000FF;}

#editprofile-info .notes                         {color: #FF0000;}
#footer                                          {font-size: 10px;}
#forgotpwd                                       {font-size:12px;}
#header-wrapper                                  {color: #FFFFFF; font-weight: bold;}
#header-wrapper a                                {color: #FFFFFF;}
#header-wrapper a:hover                          {color: #00FF00;}
#msg-box p                                       {color: #7030A0; font-style: italic;}
#navlist a                                       {color: #000000; text-decoration:none;}
#navlist a:hover                                 {text-decoration: underline;}
#newuserinf                                      {color: #0000FF; font-size: 12px;}
#patron-group                                    {color: #000000; text-decoration:underline;}
#reg-info .notes                                 {color: #FF0000;}
#result-table td                                 {font-size: 12px;}
#result-table thead                              {color: #FFFFFF;}
#tab-nav                                         {color: #1A1A1A;}
#tab-nav ol a                                    {color: #444444;}
#tab-nav ol a.active:hover, #tab-nav ol a.active {color: #222222;}
#tab-nav ol a:hover                              {color: #666666;}


/* Background Styles
-------------------------------------------------
*/

#header-wrapper                                  {background: url("../images/head-bg.png") repeat scroll 100% 100% #00A99D;}
.drop-arrow-white                                {padding: 0px 10px; position: relative; top: 1px;
                                                  background-image: url('../images/drop-arrow-white.gif');
                                                  background-repeat: no-repeat;
                                                  background-position: center center;}
li.editprofile:hover .drop-arrow-white           {background-color: #00847D;                                                 
                                                  background-image: url('../images/drop-arrow-green.gif');}

.drop-menu ul li                                 {background-color: #00A99D;}
.login-inp                                       {background-color: #FAFFBD;}
.fullhousecolor                                  {background: #FF8080;}
.lighthousecolor                                 {background: #00B0F0;}
.packedhousecolor                                {background: #FFFF00;}

.navarrow                                        {left: -10px; padding: 10px 10px; position: relative; 
                                                  background-image: url('../images/navarrow.png');
                                                  background-repeat: no-repeat;}
.subcontent-split                                {background-color: #E6E6E6;}


#addorg-inf-msg                                  {background-color: #FAFFBD;}
#result-table td                                 {background-color: #CEDCE1;}
#result-table thead                              {background-color: #3891A7; }
#tab-nav ol a                                    {display: block; float: left; height: 40px; padding-left: 8px; text-decoration: none;
                                                  background: url("../images/tab.png") no-repeat scroll 0 -60px #CCCCCC;}
#tab-nav ol span                                 {cursor: pointer; display: block; float: left; padding: 14px 0 0 0; font-size: 14px; width: 100px; text-align: center;
                                                  background: url("../images/tab.png") no-repeat scroll 100% -60px transparent;}
#tab-nav ol a.active:hover, #tab-nav ol a.active {background-color: #FFFFFF;}
#tab-nav ol a:hover                              {background-color: #D8D8D8;}